<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web RTC Tutorial</title>
</head>
<body>

<div id="selectRoom">
    <label for="roomNumber">Type Room number</label>
    <input id="roomNumber" type="text" value="25">
    <button id="createRoom">Create</button>
    <button id="joinRoom">Join</button>
</div>

<div id="consultingRoom" style="display: none">
    <video autoplay id="localVideo" muted></video>
    <video autoplay id="remoteVideo"></video><br>
    
    <button id="muteButton">Mute</button>
    <p id="local-mute">Your video is not muted</p><br>
    <p id="remote-mute">Remote video is not muted</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>

<script src="rtc-helper.js"></script>
</body>
</html>